MT5_LOGIN=12345678
MT5_PASSWORD=YourPassword
MT5_SERVER=BrokerName-Demo

TELEGRAM_BOT_TOKEN=8943912797:AAGfM1Kwo0_HhKmAzkHKSHnUDqqCJNDrjec
TELEGRAM_CHAT_ID=-5224935269

SYMBOL=EURUSD
TIMEFRAME=H1
LOT_SIZE=0.01
MAX_RISK_PERCENT=1.0
MAX_OPEN_TRADES=3
ACCOUNT_CURRENCY=IDR


